window {
    border: 2px solid  #2aa198;
    border-radius: 12px;
    background-color: rgba(4, 30, 37, 0.88); 
}

#input {
    color: #859900;
    border: 2px solid #2aa198;
    border-radius: 12px;
    background-color: rgba(4, 30, 37, 0.88);
    font-size: 18px;
}


#outer-box {
    margin: 10px;
}

#scroll {
    margin: 5px 0px;
    font-size: 16px;
    color: #859900;
}

#scroll label {
    margin: 1px 1px;
}

#entry:selected {
    color: #000000;
    background-color: #d33682;
}
