window {
    border: 2px solid #69f0f7;
    border-radius: 12px;
    background-color: rgba(0, 6, 15, 0.9); 
}

#input {
    color: #FFFE3B;
    border: 2px solid #69f0f7;
    border-radius: 12px;
    background-color: rgba(0, 6, 15, 0.9);
    font-size: 18px;
}


#outer-box {
    margin: 10px;
}

#scroll {
    margin: 5px 0px;
    font-size: 16px;
    color: #FFFE3B;
}

#scroll label {
    margin: 1px 1px;
}

#entry:selected {
    color: #000000;
    background-color: #fca6ac;
}
