
* {
    border:        none;
    border-radius: 0;
    font-family:   FuraCode Nerd Font;
    font-size:     14px;
    font-weight:     bold;
    box-shadow:    none;
    text-shadow:   none;
    background: rgba(255, 255, 255, 0);
    transition-duration: 0s;
    min-width:  2px;
    min-height: 2px;
}

window {
    color:     #FFFE3B;
    padding-left: 2px;
    padding-right: 2px;
}

window#waybar.solo {
    background: rgba(255, 255, 255, 0);
    
}

#workspaces {
    border-radius: 12px;
    background: rgba(8, 3, 12, 0.39);
    transition: none;
    border: 2px solid #5a3172;
    border-bottom: 2px solid #5a3172;
    
    
}

#workspaces button {
    transition: none;
    color:      #e949c3;
    background: transparent;
    border-radius: 0;
}

#workspaces button.visible {
    color:      #9aedfe;
     border-radius: 3.5;
}

#workspaces button.focused {
    border-top: 2px solid #9aedfe;
    color: #9aedfe;
}

#workspaces button:hover {
    border-top: 2px solid #9aedfe;
    transition: none;
    box-shadow: inherit;
    text-shadow: inherit;
    color: #9aedfe;
    
}

#workspaces button.urgent {
    color:      rgba(238, 46, 36, 1);
}

#mode, #battery, #cpu, #memory, #network, #pulseaudio, #idle_inhibitor, #backlight, #custom-storage, #temperature, #custom-spotify, #custom-weather, #custom-mail, #custom-teclado {
    margin:     0px 2px 0px 2px;
    
}

#custom-notif {
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 12px;
    transition: none;
    color: #4d4d4d;
    background: rgb(238,130,238);
    
}

#backlight {
    margin-left: 1px;
    margin-right: 1px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 12px;
    transition: none;
    color:	#8ecde6 ;
    background: #00060f; 
    border: 2px solid #5a3172;
    border-bottom: 2px solid #5a3172;
    border-top: 2px solid #5a3172;
}

#battery.warning {
   color:       rgba(255, 210, 4, 1);
}

#battery.critical {
    color:      rgba(238, 46, 36, 1);
}

#battery.charging {
    color:      rgba(217, 216, 216, 1);
}

#custom-tidepool {
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 12px;
    transition: none;
    color: #4d4d4d;
}

#custom-tidepool.red {
    background: rgba(205, 92, 92, 0.85);
}

#custom-tidepool.orange {
    background: rgba(243, 156, 18, 0.85);
}

#custom-tidepool.yellow {
    background: rgba(252, 214, 112, 0.85);
}

#custom-tidepool.green {
    background: rgba(154, 205, 50, 0.85);
}

#clock {
    margin-left: 1px;
    margin-right: 1px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 12px;
    transition: none;
    color: #dd6699;
    background: #00060f;  
    border: 2px solid #5a3172;
    border-bottom: 2px solid #5a3172;
    border-top: 2px solid #5a3172;
}

#custom-time {
    margin-left: 1px;
    margin-right: 1px;
    padding-left: 4px;
    padding-right: 5px;
    border-radius: 12px;
    transition: none;
    color: #d059ff;
    background: #00060f;  
    border: 2px solid #5a3172;
    border-bottom: 2px solid #5a3172;
    border-top: 2px solid #5a3172;
}

#custom-weather {
    margin-left: 1px;
    margin-right: 1px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 12px;
    transition: none;
    color: #8cff7a;
    background: #00060f;
    border: 1px solid #5a3172;
    border-bottom: 2px solid #5a3172;
    border-top: 2px solid #5a3172;
}

#custom-unsync {
    margin-left: 1px;
    margin-right: 1px;
    padding-left: 1px;
    padding-right: 1px;
    border-radius: 12px;
    transition: none;
    color: #4d4d4d;
    background: rgba(154, 237, 254, 0.85);
}

#custom-storage-home {
    margin-left: 1px;
    margin-right: 1px;
    padding-left: 1px;
    padding-right: 1px;
    border-radius: 12px;
    transition: none;
    color: #00b8ff;
    background: #00060f;
    border: 2px solid #5a3172;
    border-bottom: 2px solid #5a3172;
    border-top: 2px solid #5a3172;
}

#custom-storage-root {
    margin-left: 1px;
    margin-right: 1px;
    padding-left: 1px;
    padding-right: 1px;
    border-radius: 12px;
    transition: none;
    color:   #8ddb34;
    background: #16041f; 
    border: 2px solid #00060f;
    border-bottom: 2px solid #5a3172;
    border-top: 2px solid #5a3172;
}

#custom-snapcount {
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 12px;
    transition: none;
    color: #4d4d4d;
    background: rgba(154, 237, 254, 0.85);
}

#pulseaudio {
    margin-left: 1px;
    margin-right: 1px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 12px;
    transition: none;
    color: #4f9bf3;
    background: #00060f;
    border: 2px solid #5a3172;
    border-bottom: 2px solid #5a3172;
    border-top: 2px solid #5a3172;
}

#network {
    margin-left: 1px;
    margin-right: 1px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 12px;
    transition: none;
    color: #00ff9f;
    background: #00060f;
    border: 2px solid #5a3172;
    border-bottom: 2px solid #5a3172;
    border-top: 2px solid #5a3172;
}

#cpu {
    margin-left: 1px;
    margin-right: 1px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 12px;
    transition: none;
    color: #ff575a;
    background: #00060f;
    border: 2px solid #5a3172;
    border-bottom: 2px solid #5a3172;
    border-top: 2px solid #5a3172;
}

#temperature {
    margin-left: 1px;
    margin-right: 1px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 12px;
    transition: none;
    color: #ffa733;  
    background: #00060f;
    border: 2px solid #5a3172;
    border-bottom: 2px solid #5a3172;
    border-top: 2px solid #5a3172;
}

#battery {
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 12px;
    transition: none;
    color: #4d4d4d;
    background: rgba(176, 196, 222, 0.85);
}

#memory {
    margin-left: 1px;
    margin-right: 1px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 12px;
    transition: none;
    color: #ffff52;
    background:	#00060f;
    border: 2px solid #5a3172;
    border-bottom: 2px solid #5a3172;
    border-top: 2px solid #5a3172;
}

#custom-spotify {
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 12px;
    transition: none;
    color: #4d4d4d;
    background: rgba(119, 136, 153, 0.85);
}

#custom-storage.warning {
    color:      rgba(255, 210, 4, 1);
}

#custom-storage.critical {
    color:      rgba(238, 46, 36, 1);
}

#custom-teclado {
    margin-left: 1px;
    margin-right: 1px;
    padding-left: 1px;
    padding-right: 1px;
    border-radius: 12px;
    transition: none;
    color: #fca6ac;
    background: #00060f;
    border: 2px solid #5a3172;
    border-bottom: 2px solid #5a3172;
    border-top: 2px solid #5a3172;
}


